body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sc__wrapper {
    display: block;
    width: 450px;
    height: 667px;
    max-width: 450px;
    margin: 0 auto;
    margin-right: 5px;
    margin-left: 5px;
    border: 0px solid #fff;
    background-image: url('../img/cardDesignBG3.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .sc__container {
    position: relative;
    overflow: hidden;
    height: 300px;
    max-width: 300px;
    top: 300px;
    margin: 0 auto;
  }
  
  .sc__container > img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .sc__container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .inner_html {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-image: linear-gradient(90deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
  }
  
  .inner_html p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    animation: pulse 0.5s ease-in-out infinite both;
    -webkit-animation: pulse 0.5s ease-in-out infinite both;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
    
  }